{% extends "tasks/layout.html" %}

{% block body %}

<div class="container">

    <div class="row justify-content-center my-5">
        <div class="col-lg-4 border p-4">
            <div class="text-center mb-4">
                <h2>Sign up</h2>
            </div>
            <form action="" method="post">
                {% csrf_token %}


                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                    {{ form.username}}
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    {{ form.email}}
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    {{ form.password1}}
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    {{ form.password2}}
                </div>

                <div class="mb-4 text-center">
                    <button type="submit" class="btn btn-secondary">Sign Up</button>
                </div>

                {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field in form %}
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </form>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script>
    var form_fields = document.getElementsByTagName('input');

    form_fields[1].placeholder = 'Username';
    form_fields[2].placeholder = 'Email';
    form_fields[3].placeholder = 'Password';
    form_fields[4].placeholder = 'Confirm Password';

    form_fields[1].classList.add('form-control');
    form_fields[2].classList.add('form-control');
    form_fields[3].classList.add('form-control');
    form_fields[4].classList.add('form-control');
</script>
{% endblock %}