{% extends "tasks/layout.html" %}

{% block body %}

    <div class="container">
        <h2><a href=" {% url 'mylist:index' %}">Back to All Tasks<a></h2>

        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-3">{{ task.title }}</h4>
                        <h6>Details: </h6>
                        <p class="card-text mb-3">{{ task.description }}</p>

                        <h6>Priority: </h6>
                        <div class="col-auto d-flex align-items-center rounded bg-white mb-3">
                            <i class="fa fa-list-ol my-2 px-2 text-info btn" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Due on date"></i>
                            <h6 class="text my-2 pr-2">{{ task.priority}}</h6>
                        </div>
                        <h6>Created At: </h6>
                        <div class="col-auto d-flex align-items-center rounded bg-white border border-info">
                            <i class="fa fa-clock my-2 px-2 text-info btn" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Due on date"></i>
                            <h6 class="text my-2 pr-2">{{ task.created_at}}</h6>
                        </div>
                        <h6>Due Date: </h6>
                        <div class="col-auto d-flex align-items-center rounded bg-white border border-warning">
                            <i class="fa fa-hourglass-2 my-2 px-2 text-warning btn" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Due on date"></i>
                            <h6 class="text my-2 pr-2">{{ task.due_date}}</h6>
                        </div>

                        <div class="mt-4 mb-4">
                            <input class="form-check-input" type="checkbox" id="markAsComplete" value="task{{ task.id }}">
                            <label class="form-check-label" for="markAsComplete">Mark as Complete</label>
                        </div>

                        <div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            {% comment %} Slides {% endcomment %}
                            <div class="carousel-inner">
                                {% for image in images  %}
                                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" data-bs-interval="4000">
                                    <img src="{{ image.images.url}}" class="d-block w-100" alt="...">
                                </div>
                                {% endfor %}
                            </div>
                            {% comment %} End Slides {% endcomment %}

                            {% comment %} Buttons {% endcomment %}
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                            {% comment %} Buttons {% endcomment %}

                            {% comment %} Indicators {% endcomment %}
                            <div class="carousel-indicators">
                                {% for image in images  %}
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}" aria-current="true" aria-label="Slide 1"></button>
                                {% endfor %}
                              </div>
                          </div>

                    </div>
                <a href="{% url 'mylist:update' task.id %}" class="btn btn-primary">Edit Task<a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
 <script>
        $(document).ready(function() {
            $('#markAsComplete').change(function() {
                // Handle checkbox state change here
                if (this.checked) {
                    // Checkbox is checked
                    console.log('Marked as complete');
                } else {
                    // Checkbox is unchecked
                    console.log('Not marked as complete');
                }
            });
        });        
    </script>
{% endblock %}