<nav class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top">
    <div class="container">
        {% comment %} Logo {% endcomment %}
      <a class="navbar-brand fs-4" href="{% url 'mylist:index' %}">Task Manager</a>
      {% comment %} Toggle Button {% endcomment %}
      <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% comment %} Sidebar {% endcomment %}
      <div class="sidebar offcanvas offcanvas-start" style="background-color: rgba(255,255,255,0.15); backdrop-filter: blur(10px);" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header text-white border-bottom">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">TaskManager</h5>
          <button type="button" class="btn-close btn-close-white shadow-none border-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        {% comment %} Sidebar body {% endcomment %}
        <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
          <ul class="navbar-nav justify-content-center align-items-center flex-grow-1 pe-3 fs-5">
            <li class="nav-item">
              <a class="nav-link active mx-2" aria-current="page" href="{% url 'mylist:index'%}">Home</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="{% url 'mylist:create' %}">Add Task</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#about">About</a>
            </li>
            
          </ul>
          {% comment %} login|Signup {% endcomment %}
          <div class="d-flex gap-3 flex-column flex-lg-row justify-content-center align-items-center">
              {% if request.user.is_authenticated %}
              <a href="{% url 'mylist:logout' %}" class="text-white text-decoration-none">Logout</a>
              {% else %}
              <a href="{% url 'mylist:login' %}" class="text-white text-decoration-none">Login</a>
              <a href="" class="text-white text-decoration-none px-3 py-1 rounded-5 bg-primary" style="backgroun: #f94ca4;">Signup</a>
              {% endif %}
              
          </div>
        </div>
      </div>
    </div>
  </nav>